Checks: >
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  readability-*,
  -readability-magic-numbers,
  -bugprone-easily-swappable-parameters,
  -performance-no-int-to-ptr

WarningsAsErrors: ""
HeaderFilterRegex: ".*"
FormatStyle: file
